{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span> <a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span> <a href="{{ path('especialidad_index') }} ">Especialidad</a></li>
<li class="active"><span class="divider">&gt;</span> Crear</li>
{% endblock %}

{% block content %}

<h1>Creacion de una especialidad</h1>

<form action="{{ path('especialidad_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
	
    <div class="form-actions">
       <input  type="submit" value="Crear" class="btn btn-primary" />
        <a href="{{ path('especialidad_index') }}" class="btn">Regresar</a>
    </div>
</form>

{% endblock %}

{% block javascript %}
{{ parent() }}
{{ load.script({form: true})}}
<script>
    $('select').change(function(){
        var e = $('#codigoespecialidadtype_especialidad :selected').val();
        var a = $('#codigoespecialidadtype_anho :selected').val();
        var s = $('#codigoespecialidadtype_seccion :selected').val();
        switch(e) {
            case 'AUTO':
                $('#codigoespecialidadtype_codigo').val('A'+a+s);
                break;
            case 'ELCA':
                $('#codigoespecialidadtype_codigo').val('EL'+a+s);
                break;
            case 'ELTIA':
                $('#codigoespecialidadtype_codigo').val('ELT'+a+s);
                break;
            case 'MECA':
                $('#codigoespecialidadtype_codigo').val('M'+a+s);
                break;
        }
    });
</script>
{% endblock %}
