{% extends 'RegistroAcademicoBundle::base.html.twig' %}

{% set title = 'Un error: '~status_text~' a ocurrido' %}

{% block body %}
<div class="error-board">
	<header>
    	<hgroup>
    		<h1>¡Lo siento! Ocurrió un error fatal</h1>
    		<h2 class="error-code">{{ status_code }}</h2>
    		<h3 class="error-status">{{ status_text }}</h3>
    	</hgroup>
    </header>
    <img class="error-image" src="{% spaceless %}
    {% if status_code == 400 %}
        {{ assets('bundles/registroacademico/images/ghost.png') }}
    {% elseif status_code == 403 %}
        {{ assets('bundles/registroacademico/images/ctrl.png') }}
    {% else %}
        {{ assets('bundles/registroacademico/images/warning.svg') }}
    {% endif %}
    {% endspaceless %}">
    <p>Si el problema persiste por favor contacta al encargado del sistema y
    cuéntale que es lo que ocurrió y que estabas haciendo cuando sucedió
    el error. Para poder arreglarlo lo mas pronto posible. Disculpa por el
    inconveniente causado :(.</p>
</div>
{% endblock %}
