{% extends 'RegistroAcademicoBundle::base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<div id="header-bar" class="row-fluid">
		{% if app.user.username is defined %}
		<nav class="row pull-right">
			<div class="row btn-group">
				<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ app.user.username }}</a>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('index') }}"><i class="icon-home"></i> Inicio</a></li>
					<li><a href="{{ path('user_info', { 'username':app.user.username }) }}"><i class="icon-pencil"></i> Información</a></li>
					<li><a href="{{ path('update_password', {'username':app.user.username }) }}"><i class="icon-wrench"></i> Cambiar contraseña</a></li>
					<li class="divider"></li>
					<li><a href="{{ path('logout') }}"><i class="icon-off"></i> Salir</a></li>
				</ul>
			</div>
		</nav>
		{% endif %}
		<header class="page-header">
			<img id="logo" src="{{ asset('bundles/registroacademico/images/logo_inti.svg') }}" alt="Logo INTI" />
			<h1>Sistema de registro académico<br /><small>{{ title }}</small></h1>
		</header>
	</div>
	{% block main %}
    <section class="row-fluid" id="main">
		<aside class="span3">
			{% block aside %}
			{% include 'RegistroAcademicoBundle:Default:asideMenu.html.twig' %}
			{% endblock %}
		</aside>
		<article class="span9">
			<ul class="breadcrumb">
			{% block breadcrumb %}
			{% endblock %}
			</ul>
			{% block content %}
			{% endblock %}
		</article>
	</section>
	{% endblock %}
	<footer class="row-fluid">
		{% block footer %}
		<address>
			<strong>Instituto Nacional Técnico Industrial</strong><br />
			Colonia Roma, Bulevar Arturo Castellanos, San Salvador, El Salvador, C. A.<br />
			<abbr title="Telefono">Tel:</abbr> <a href="tel:503-2224-6946">(503) 2224-6946</a>, <a href="tel:503-2223-3156">(503) 2223-3156</a><br />
			<abbr title="Correo electronico">email:</abbr><a href="mailto:intidirec@gmail.com">intidirec@gmail.com</a>
		</address>
		{% endblock %}
	</footer>
</div>

{% endblock %}
