{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>Modificar practica profesional</h1>

    <form action="{{ path('practicaprofesional_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        
        {{ form_widget(edit_form) }}
       <table> 
        <tr><td>    <button type="submit" class="btn btn-primary">Editar</button></td>
       
    </form>

        
    
         <td><a class="btn btn-info" href="{{ path('practicaprofesional') }}">
            Regresar a la lista
        </a> </td>
   
   
        <form action="{{ path('practicaprofesional_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
         <td>   <button type="submit" class="btn btn-danger">Eliminar</button></td>

     </tr>
            </table>
        </form>
    {% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}

{% endblock %}