{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ load.css({ calendar: true, select2: true }) }}
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span> <a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span> <a href="{{ path('practicaprofesional') }} ">Practica Profesional</a></li>
<li class="active"><span class="divider">&gt;</span> Crear</li>
{% endblock %}

{% block content %}




<h1>Ingresar practica profesional</h1>
  
  

<form action="{{ path('practicaprofesional_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    
	
    <div class="form-actions">
       <input  type="submit" value="Crear" class="btn btn-primary" />
        <a href="{{ path('practicaprofesional') }}" class="btn">Regresar</a>
    </div>
    <div class="control-group error">
        {{ form_errors(form) }}
    </div>
</form>

{% endblock %}

{% block javascript %}
{{ load.script({ calendar: true, select2: true }) }}
<script>
$('#practicaprofesionaltype_alumno').addClass('span4').select2({
    minimumInputLength: 2,
    query: function (query) {
        var data = {results: []};
		console.log(query);
        $.ajax({
            url: Routing.generate('alumno_ajax'),
			data: { apellidos: query.term },
            dataType: 'json',
            success: function (json) {
                console.table(json);
                for(e in json){
                    data.results.push({id: json[e].nie, text: json[e].nombres + ' ' + json[e].primerApellido + ' ' + json[e].segundoApellido });
                }
                query.callback(data);
            }
        });
    }
});
</script>
{% endblock %}
