<!DOCTYPE html>
<html lang="es-SV">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="shortcut icon" href="{{ asset('bundles/registroacademico/images/favicon.ico') }}" />
		<link rel="apple-touch-icon" href="{{ asset('bundles/registroacademico/images/apple-touch-icon.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/registroacademico/images/apple-touch-icon-72x72.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/registroacademico/images/apple-touch-icon-114x114.png') }}" />
		{% if title is not defined %}{% set title = 'Sistema de registro académico' %}{% endif %}
		<title>{{ title }}</title>
		{% import _self as load %}
		<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" />
		<!--[if IE 7]><link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome-ie7.min.css') }}"><![endif]-->
		<link rel="stylesheet" href="{{ asset('bundles/registroacademico/css/estilo.css') }}" />
		{% block style %}{% endblock %}
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		{% block body %}{% endblock %}
		<script type="text/javascript" src="{{ asset('assets/jquery/jquery.js') }}"></script>
		<script src="{{ asset('assets/bootstrap/js/bootstrap.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block javascript %}{% endblock %}
	</body>
</html>

{% macro script(js) %}
	{% if js.form|default(false) %}
		<script src="{{ asset('assets/jquery-validation/dist/jquery.validate.js') }}"></script>
		<script src="{{ asset('assets/jquery-validation/localization/messages_es.js') }}"></script>
		<script src="{{ asset('assets/jquery-mask/jquery.mask.js') }}"></script>
		<script src="{{ asset('bundles/registroacademico/js/validacion-formularios.js') }}"></script>
		<script src="{{ asset('bundles/registroacademico/js/enmascarar-formularios.js') }}"></script>
	{% endif %}
	{% if js.foto|default(false) %}
		<script src="{{ asset('bundles/registroacademico/js/fotografia_base64.js') }}"></script>
	{% endif %}
	{% if js.calendar|default(false) %}
		<script src="{{ asset('assets/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ asset('assets/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}"></script>
	{% endif %}
	{% if js.watable|default(false) %}
		<script src="{{ asset('assets/watable/jquery.watable.js') }}"></script>
	{% endif %}
	{% if js.select2|default(false) %}
		<script src="{{ asset('assets/select2/select2.js') }}"></script>
		<script src="{{ asset('assets/select2/select2_locale_es.js') }}"></script>
	{% endif %}
	{% if js.dropzone|default(false) %}
		<script src="{{ asset('assets/dropzone/lib/dropzone.js') }}"></script>
	{% endif %}
	{% if js.offline|default(false) %}
		<script src="{{ asset('assets/offline/offline.min.js') }}"></script>
	{% endif %}
	{% if js.twig|default(false) %}
		<script src="{{ asset('assets/twig.js/twig.min.js') }}"></script>
		<script src="{{ asset('bundles/registroacademico/js/plantillas.js') }}"></script>
	{% endif %}
	{% if js.buscarAjax|default(false) %}
		<script src="{{ asset('bundles/registroacademico/js/buscarAjax.js') }}"></script>
	{% endif %}
{% endmacro %}

{% macro css(sheet) %}
	{% if sheet.calendar|default(false) %}
<link rel="stylesheet" href="{{ asset('assets/bootstrap-datepicker/css/datepicker.css') }}" />
	{% endif %}
	{% if sheet.watable|default(false) %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/watable/watable.css') }}" />
	{% endif %}
	{% if sheet.select2|default(false) %}
<link rel="stylesheet" href="{{ asset('assets/select2/select2.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/registroacademico/css/select2-bootstrap.css') }}">
	{% endif %}
	{% if sheet.offline|default(false) %}
<link rel="stylesheet" href="{{ asset('assets/offline/themes/offline-theme-dark.css') }}">
<link rel="stylesheet" href="{{ asset('assets/offline/themes/offline-theme-dark-indicator.css') }}">
	{% endif %}
{% endmacro %}

{% macro dialog(param) %}
<div class="modal hide fade" id="dialog{{ param.accion }}" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="titulo">{{ param.titulo }}</h3>
	</div>
	<div class="modal-body">
		<p><strong style="color: red">Cuidado</strong> {{ param.mensaje }}</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		<button id="confirm{{ param.accion }}" class="btn btn-primary">Confirmar</button>
	</div>
</div>
{% endmacro %}