{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ parent() }}
{{ load.sheet({ watable: true }) }}
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('aspirante_index') }}">Aspirantes</a></li>
<li class="active"><span class="divider">&gt;</span> Consultar</li>
{% endblock %}

{% block content %}
<table id="tabla" class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Sexo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.primerapellido~' '~entity.segundoapellido~', '~entity.nombres }}</td>
            <td>{{ entity.especialidad.nombre }}</td>
            <td>{% if entity.sexo == 'M' %}
                        Masculino
                    {% else %}
                        Femenino
                    {% endif %}</td>
            <td>
                <div class="btn-group btn-group-vertical">
                    <a class="btn btn-info btn-mini" href="{{ path('aspirante_show', { 'id': entity.nie }) }}">{{ '.icon-eye-open Consultar'|parse_icons('white') }}</a>
                    <a class="btn btn-info btn-mini" href="{{ path('aspirante_edit', { 'id': entity.nie }) }}">{{ '.icon-edit Modificar'|parse_icons('white') }}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ path('aspirante_new') }}">{{ '.icon-plus-sign Ingresar un nuevo aspirante'|parse_icons('white') }}</a>
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ load.script({ form: false, watable: true }) }}
{% endblock %}