{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ load.css({ watable: true }) }}
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('aspirante_index') }}">Aspirantes</a></li>
<li class="active"><span class="divider">&gt;</span> Consultar</li>
{% endblock %}

{% block content %}
<div id="buscarAspirantes" class="input-append">
    <input type="search" placeholder="Buscar por apellido">
    <button class="btn"><i class="icon-search"></i> Buscar</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Sexo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody id="tablaAspirantes">
    {% include 'RegistroAcademicoBundle:Aspirante:indexAjax.html.twig' %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ path('aspirante_new') }}">{{ '.icon-plus-sign Ingresar un nuevo aspirante'|parse_icons('white') }}</a>
{% endblock %}

{% block javascript %}
{{ load.script({ form: false, watable: true, buscarAjax: true}) }}
{% endblock %}