{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/bootstrap-datepicker/css/datepicker.css') }}" />
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span> <a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span> <a href="{{ path('aspirante_index') }} ">Aspirantes</a></li>
<li class="active"><span class="divider">&gt;</span> Crear</li>
{% endblock %}

{% block content %}
<form action="{{ path('aspirante_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	{{ form_label(form.foto) }}
    <input type="file" id="filePicker" name="filePicker" accept="image/jpg" class="btn" required />
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div class="form-actions">
        <input type="submit" value="Crear" class="btn btn-primary" />
        <a href="{{ path('aspirante_index') }}" class="btn">Regresar</a>
    </div>
</form>
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ load.script({ form: true, foto: true, calendar: true })}}
{% endblock %}
