{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ load.css({ calendar: true, select2: true }) }}
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span> <a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span> <a href="{{ path('aspirante_index') }} ">Aspirantes</a></li>
<li class="active"><span class="divider">&gt;</span> Crear</li>
{% endblock %}

{% block content %}
<form id="aspirantetype" action="{{ path('aspirante_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	{{ form_label(form.foto) }}
    <input type="file" id="filePicker" name="filePicker" accept="image/jpg" class="btn" required />
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div class="form-actions">
        <input type="submit" value="Crear" class="btn btn-primary" />
        <a href="{{ path('aspirante_index') }}" class="btn">Regresar</a>
    </div>
</form>
{% endblock %}

{% block javascript %}
{{ load.script({ form: true, foto: true, calendar: true, select2: true })}}
<script>
$('#aspirantetype_especialidad').select2();
$('#aspirantetype_encargado_dui').select2({
    minimumInputLength: 2,
    query: function (query) {
        var data = {results: []};
        $.get(
            Routing.generate('encargado_index', { 'dui': query.term }),
            function (json) {
                console.table(json);
                for(e in json){
                    data.results.push({id: json[e].dui, text: json[e].dui});
                console.log(json[e].dui);
                console.table(data.results);
                }
        query.callback(data);
        });
        console.table(data);
    }
});
$('#aspirantetype_encargado_dui').keyup(function() {
	$.getJSON(
		Routing.generate('encargado_show', { 'dui': $(this).val() }),
		function(enc) {
			$('#aspirantetype_encargado_nombre').val(enc.nombre);
			$('#aspirantetype_encargado_telefono').val(enc.telefono);
		}
	)});
</script>
{% endblock %}
