{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('alumno_index') }}">Alumno</a></li>
<li class="active"><span class="divider">&gt;</span>Modificar</li>
{% endblock %}

{% block content -%}
<form action="{{ path('alumno_update', { 'nie': entity.nie.nie }) }}" method="POST" {{ form_enctype(edit_form) }} class="form-horizontal">
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form, {'form_type': 'horizontal'}) }}
    <div class="form-actions">
        <input type="submit" value="Modificar" class="btn btn-primary" />
        <a class="btn" href="{{ path('alumno_index') }}">Cancelar</a>
        <a href="{{ path('alumno_erase', {'nie':entity.nie.nie}) }}" class="btn btn-danger">Eliminar</a>
    </div>
</form>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/jquery-validation/dist/jquery.validate.js') }}"></script>
<script src="{{ asset('assets/jquery-validation/localization/messages_es.js') }}"></script>
<script src="{{ asset('bundles/registroacademico/js/fotografia_base64.js') }}"></script>
<script src="{{ asset('bundles/registroacademico/js/validacion-formularios.js') }}"></script>
{% endblock %}