{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('alumno_index') }}">Alumno</a></li>
<li class="active"><span class="divider">&gt;</span>Modificar</li>
{% endblock %}

{% block content -%}
<form action="{{ path('alumno_update', { 'nie': entity.nie }) }}" method="POST" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_label(edit_form.aspirante.foto) }}
	<input type="file" id="filePicker" class="btn"/>
	<input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form, {'form_type': 'horizontal'}) }}
    <div class="form-actions">
        <input type="submit" value="Modificar" class="btn btn-primary" />
        <a class="btn" href="{{ path('alumno_index') }}">Cancelar</a>
        <a href="{{ path('alumno_erase', {'nie':entity.nie}) }}" class="btn btn-danger">Eliminar</a>
    </div>
</form>
{% endblock %}
