{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ load.css({ watable: true }) }}
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li class="active"><span class="divider">&gt;</span> Alumnos</li>
{% endblock %}

{% block content %}
<div id="buscarAlumnos" class="input-append">
	<select id="codigo">
			<option value="" selected>Seleccione un codigo</option>
		{% for cod in especialidades %}
		    <option value="{{ cod.codigo }}">{{ cod.codigo }}</option>
		{% endfor %}
	</select>
	<input id="apellidos" type="search" placeholder="Buscar por apellido" required>
	<button class="btn"><i class="icon-search"></i> Buscar</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>NIE</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Sexo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody id="tablaAlumnos">
    {% include 'RegistroAcademicoBundle:Alumno:indexAjax.html.twig' %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ path('alumno_new') }}">{{ '.icon-plus-sign Ingresar un nuevo alumno'|parse_icons('white') }}</a>
{% endblock %}

{% block javascript %}
{{ load.script({ watable: true, buscarAjax: true }) }}
{% endblock %}