{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ load.css({ calendar: true }) }}
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span> <a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span> <a href="{{ path('alumno_index') }} ">Alumno</a></li>
<li class="active"><span class="divider">&gt;</span> Crear</li>
{% endblock %}

{% block content %}
<form id="newAlumnoForm" action="{{ path('alumno_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<table><tr><td style='padding-right:20px;'>{{ form_label(form.foto) }}</td><td style='padding-bottom:20px'><input type="file" id="filePicker" class="btn"/></td></tr></table>
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
	<div class="form-actions">
        <input type="button" value="Matricular" class="btn btn-primary" />
        <a href="{{ path('aspirante_index') }}" class="btn">Regresar</a>
    </div>
    <div class="control-group error">
        {{ form_errors(form) }}
    </div>
</form>
{% endblock %}

{% block javascript %}
{{ load.script({ form: true, foto: true, calendar: true, twig: true }) }}
<script>
$('#alumnotype_especialidad').change(function () {
	$.getJSON(
		Routing.generate('codigoespecialidad_index'),
		{ especialidad: $(this).val() },
		function (data) {
			$('#alumnotype_codigoEspecialidad').empty().html(cmbCodigo.render({ 'codigos': data }));
		}
	)
});
</script>
{% endblock %}
