{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/jquery-ui/css/smoothness/jquery-ui.css') }}" />
<link rel="stylesheet" href="{{ asset('assets/jquery-ui/css/smoothness/jquery.ui.theme.css') }}" />
{% endblock %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span> <a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span> <a href="{{ path('alumno_index') }} ">Alumno</a></li>
<li class="active"><span class="divider">&gt;</span> Crear</li>
{% endblock %}

{% block content %}
<form id="newAlumnoForm" action="{{ path('alumno_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<div style="border:solid 1px #000;padding:15px"><h3>Buscar Aspirante:</h3> <input type='text' id='search' placeholder='Nombre o N° de Aspirante'> Especialidad: <select id='esp'></select>
	<div id='resultTable'></div></div>
	<br>
	<table>
		<tr><td>Nombre del Aspirante:</td><td id='nameAsp'>No ha ingresado un numero de aspirante valido</td></tr>
		<tr><td>NIE:</td><td><input type='text' id='nie' name='nie'></td></tr>
		<tr><td>Condicion de Matricula:</td><td><select id='cond' name='cond'><option value='CC'>Condicionado Conducta</option><option value='CM'>Condicionado Matricula</option><option value='RE'>Repetidor</option><option value='RI'>Reingreso</option><option value='NI' selected>Nuevo Ingreso</option></select></td></tr>
		<tr><td>Codigo de Especialidad:</td><td><select id='cod_esp'></select></td></tr>
	</table>
	<div class="form-actions">
        <input type="button" value="Matricular" class="btn btn-primary" />
        <a href="{{ path('aspirante_index') }}" class="btn">Regresar</a>
    </div>
    <div class="control-group error">
        {{ form_errors(form) }}
    </div>
</form>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/jquery-ui/js/jquery-ui.js') }}"></script>
<script>
	$(document).ready(function(){
		getEspecialidades();
		getCodigoEspecialidades();
		showAspirantes();
		$("#search").keyup(showAspirantes);
		$("#esp").change(showAspirantes);
		$("input[value='Matricular']").click(saveAlumno);
		$("#nie").keyup(buscarAspirante);
	});
	function buscarAspirante(){
		$.get("{{ path('BuscarAspiranteEspecificoAjax') }}", {"nie":$("#nie").val()}, function(e){
			$("#nameAsp").html(e);
		});
	}
	function saveAlumno(){
			if($("#nie").val()!=""){
				$.get("{{ path('GuardarAlumnoAjax') }}", {"nie":$("#nie").val(), "cod_esp":$("#cod_esp").val(), "cond":$("#cond").val()}, function(e){
					switch(e.trim().toLowerCase()){
						case 'a':
							document.location.href=e;
						break;
						case 'r':
							alert("El NIE ingresado esta reprobado. No puede matricularse");
						break;
						case 'p':
							alert("El NIE ingresado esta pendiente de aprobacion. No puede matricularse");
						break;
						case 'm':
							alert("El NIE ingresado ya ha sido matriculado");
						break;
						case 'n':
							alert("El NIE ingresado no es valido");
						break;
					}
				});
			}else{
				alert("Debe ingresar un NIE valido");
			}
	}
	function getEspecialidades(){
		$.get("{{ path('ComboEspecialidadAjax') }}", {}, function(e){
			$("#esp").html(e);
		});
	}
	function getCodigoEspecialidades(){
		$.get("{{ path('ComboCodigoEspecialidadAjax') }}", {}, function(e){
			$("#cod_esp").html(e);
		});
	}
	function showAspirantes(){
		$.get("{{ path('BuscarAspiranteAjax') }}", {"searchValue":$("#search").val(), "esp":$("#esp").val()}, function(e){
			$("#resultTable").html(e);
			$("tr.aspirante").click(function(){
				$("#nie").val($(this).find("td.n_nie").attr('value'));
				$("#nameAsp").html($(this).find("td.aspName").html());
			});
		});
	}
</script>
{% endblock %}
