{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('alumno_index') }}">Alumnos</a></li>
<li class="active"><span class="divider">&gt;</span> Consultar</li>
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('confirm') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>

{% endfor %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#tabInformacion" data-toggle="tab">Información básica</a></li>
    <li><a href="#tabEncargado" data-toggle="tab">Encargado</a></li>
	<li><a href="#tabUsuario" data-toggle="tab">Usuario</a></li>
</ul>
<ul id="tabContent" class="tab-content">
    <li id="tabInformacion" class="tab-pane fade in active">
<<<<<<< HEAD
        <table class="table">
=======
        <table class="record_properties">
>>>>>>> acd3f7253eca0bccb2de9f319529bb496d61d83a
            <tbody>
                <tr>
                    <th>Foto</th>
                    <td><img src="data:image/jpg;base64,{{ entity.foto|default('iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAAXNSR0IArs4c6QAAAmdQTFRFExASEhETFBIUFhMWFxYYGhcZGhcaGRgaHBkbHRodHRseHhwfHx4hIR4gIh8hISAiIyAjIyElJSIkJyQnKCUnKicrKSgqKSgrLCgrLSksLCosLiwvMC4xMTAzNDAzMzI0NTE1NjI1NzM2NTQ2NzU3OTY4PDc7PTc8Ozk8Pjg9PTo8PTw+Pj0+Pj0/Pz0/QTs/QDw/Pz5AQT5AQD9AQj9BQj9DRT9DQUBCQ0BCREFDREFEREJERUJERUNERUJFRUNFRkJFRkNFR0JHRkNHR0VGR0RHR0RISEVISUZJSUdJSUZKSUdKSkdLSklKSklLS0pLTElMTUpMTEtMTUpNTEtNTUxOT0xOTk1PT01PUE5PUE9RU1FTVFFTVFJUVVNVV1VYWVdaWVhZWVhaW1lbW1pcXFlcXltdXVxeXlxeXl1fYF1fYV5gYmBhYWBiYmFjY2JkZWNlZ2VnaGRnaGVnaWVoaGZoaGdoaGdqaWhqamlqampra2ttbWtsbGtubm1ucG5vb2xwcW5wcXBydXV2eXh6e3p8fXx+fn1+gn+BgoGChIGDhoWHhoaHiIaIiYeJjImLjIuLjoyOj42PkY+RkZCRlpWWl5WWlpaXl5aXmJeYmZiZnJucpKSlpqWmqKeoqqmrr62vsK+wsrKys7Ozs7O0tLS0tbW1tra3t7e3t7a4uLi4ubm5u7u7vLu8vb29wL/AwMDAxMTExcTFx8fHycjJy8rLy8vLzMvMzs3Oz8/P0dDR0tHS0tLS1NTU2NjY3Nzc3d3d3t3e4eHh4+Pj6Ojo7+/v8PDw8/Lz8/Pz9PP09PT09/f3////xQEUXQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIFgw4ChJ6mfcAAAKnSURBVEjHxZbvSxphHMDd6XUi3WRTKms2YgvDF8c2VvfiGMIRu1fVi/bCzZ16hHLlWYNAlFGRK/qBY6wfL9rPJgVOyEXiJoiF1YR+/FF7nvO01HrOvdk+3+d5vt/n+/DhRHiO05z/JZr/JBS3Yp9yjQuH4Rtk6028OZJrSDjcMHf2dVk6bX2d+uGcqlCk8Da7SaPRYBhmemQzfFYTFnrZLh1W5lafOYEW9rpITIvJhhbTAmwsWnhtxXW4TqfDcS1IsOpJIIUpgiBwEATR1FQqyA2kMK0nDHo4CUOTASQDoZ9EChlDHWH0v2Qna5lGC4KRNF5AksbmdbQgmYwm0+0ycPMLKaQjplreIYWv980tNbxBCjl7e7vF0tbR0drSXsKCfsJ5Rx0f0YLnziWsVrB8Rwsf7l7CCseByn0I3atGVL1x3VV8KaoKfI+MvZSy6nd6jqLsdgoAlofUgbqQpBmafvCYonsZhhls5DXz6qnDwbKMw8Gxg98aENafM8zAADfgdDpo57q6sDn1kgW/hXlCUyw7NLapJpzMTjr7uX6WoRkHxw1PzpyghR3fzDCE47ghuZgd2bleKKwJoZjLKfMMBMQVC3nXClcKqag4937O/aIGN2iK0VSdsCWGY7Gwh3cBeCWU2gNP/PEqIR+Ori5I7jI8z7tB8JW9tLAaDecvhB+RlfkRz3V4wXT751ciu2UhMxsLeAVvNUJtI/A2mlGExaWRKxD8gpx8Ahg+H6iWFhVh2V+PKIpK4R+rNJcVITTaICFFGA2UkLM0Wqmr+nJWhKAEGAcDEJCCsAqCFcwg7AeD8BDOsjCOQKraVYSJErAHk1yMw/1E+azUU4Sz09/HR4X9fDaT3ttNJZPJxHY8vhXfTiSSqdTuXvpnNr9fODounp79k4+TPzGyOKi1a4jBAAAAAElFTkSuQmCC') }}" alt="Fotografia" class="profile_id img-polaroid" /></td>
                </tr>
				<tr>
                    <th>NIE</th>
                    <td>{{ entity.nie }}</td>
                </tr>
                <tr>
                    <th>Nombre completo</th>
                    <td>{{ entity.primerapellido~' '~entity.segundoapellido~', '~entity.nombres }}</td>
                </tr>
                <tr>
                    <th>Especialidad</th>
                    <td>{{ entity.especialidad.nombre }}</td>
                </tr>
				<tr>
                    <th>Codigo de Especialidad</th>
                    <td>{{ entity.codigoespecialidad.codigo }}</td>
                </tr>
                <tr>
                    <th>Direccion</th>
                    <td>{{ entity.direccion }}</td>
                </tr>
                <tr>
                    <th>Telefono</th>
                    <td>{{ entity.telefono }}</td>
                </tr>
                <tr>
                    <th>Fechanac</th>
                    <td>{{ entity.fechanac|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Lugarnac</th>
                    <td>{{ entity.lugarnac }}</td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>
						{% if entity.sexo == 'M' %}
							Masculino
						{% else %}
							Femenino
						{% endif %}
					</td>
                </tr>
				<tr>
                    <th>Condicion</th>
                    <td>
						{% if entity.condicion == 'CC' %}
							Condicionado Conducta
						{% elseif entity.condicion == 'CM' %}
							Condicionado Materia
						{% elseif entity.condicion == 'NI' %}
							Nuevo Ingreso
						{% elseif entity.condicion == 'R' %}
							Repetidor
						{% elseif entity.condicion == 'RI' %}
							Reingreso
						{% endif %}
					</td>
                </tr>
            </tbody>
        </table>
        <div class="form-actions">
          <a href="{{ path('alumno_edit', { 'nie': entity.nie}) }}" class="btn btn-info">Modificar</a>
          <a href="{{ path('alumno_erase', { 'nie': entity.nie }) }}" class="btn btn-danger">Dar de Baja</a>
          <a href="{{ path('alumno_index') }}" class="btn">Regresar</a>
        </div>
    </li>
    <li id="tabEncargado" class="tab-pane fade">
<<<<<<< HEAD
        <table class="table">
=======
        <table class="record_properties">
>>>>>>> acd3f7253eca0bccb2de9f319529bb496d61d83a
            <tr>
                <th>Nombre completo</th>
                <td>{{ entity.encargado.nombre }}</td>
            </tr>
            <tr>
                <th>Parentesco</th>
                <td>{{ entity.encargado.parentesco }}</td>
            </tr>
            <tr>
                <th>DUI</th>
                <td>{{ entity.encargado.dui }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.encargado.telefono }}</td>
            </tr>
        </table>
    </li>
	<li id="tabUsuario" class="tab-pane fade">
		<p><strong>Nombre de usuario</strong> {{ entity.usuario.username }}</p>
		<a href="{{ path('update_password', {'username':entity.usuario.username}) }}" class="btn btn-info">Cambiar contraseña</a>
		{% if is_granted('ROLE_ADMIN') %}
			{% if entity.usuario.enabled %}
				<a href="#confirmDisabled" role="button" class="btn btn-danger" data-toggle="modal">Deshabilitar</a>
			{% else %}
			<button id="habilitarUsuario" class="btn btn-danger">Habilitar</button>
			{% endif %}
		{% endif %}
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ACADEMIC_ADMIN') %}
			<button id="bloquearUsuario" class="btn btn-danger">{% if entity.usuario.locked %}
				Desbloquear
			{% else %}
				Bloquear
			{% endif %}</button>
		{% endif %}
	</li>
</ul>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% endblock %}
