{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li class="active"><span class="divider">&gt;</span> Empleados</li>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>DUI</th>
            <th>Sexo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombres~' '~entity.apellidos }}</td>
            <td>{% if entity.puesto == 'director' %}
                    Director
                {% elseif entity.puesto == 'subdirector' %}
                    Subdirector
                {% elseif entity.puesto == 'encargado_reg_acad' %}
                    Encargado de registro academico
                {% elseif entity.puesto == 'encargado_serv_soc' %}
                    Encargado del servicio social
                {% elseif entity.puesto == 'encargado_prac_prof' %}
                    Encargado de practica profesional
                {% elseif entity.puesto == 'secretaria_reg_acad' %}
                    Secretaria de registro academico
                {% else %}
                    Empleado
                {% endif %}</td>
            <td>{{ entity.dui }}</td>
            <td>{% if entity.sexo == 'M' %}
                    Masculino
                {% else %}
                    Femenino
                {% endif %}</td>
            <td>
                <div class="btn-group btn-group-vertical">
                    <a class="btn btn-info" href="{{ path('empleado_show', { 'id': entity.dui }) }}">{{ '.icon-eye-open Consultar'|parse_icons('white') }}</a>
                    <a class="btn btn-info" href="{{ path('empleado_edit', { 'id': entity.dui }) }}">{{ '.icon-edit Modificar'|parse_icons('white') }}</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ path('empleado_new') }}">{{ '.icon-plus-sign Ingresar un nuevo empleado'|parse_icons('white') }}</a>
{% endblock %}
