{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li class="active"><span class="divider">&gt;</span> Empleados</li>
{% endblock %}

{% block content %}
	<form action="{{ path('responsability_update') }}" method="POST" class="form-horizontal">
	<table>
		<tr>
			<td>Seleccione una Secretaria: </td>
			<td><select id='secretaria' name='secretaria'>
			{% for entity in entities %}
				<option value='{{ entity.dui }}'> {{ entity.nombres~' '~entity.apellidos }} </option>
			{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Seleccione la especialidad de la que sera responsable: </td>
			<td><select id='especialidad' name='especialidad'>
			{% for entity in especialidades %}
				<option value='{{ entity.codigo }}'> {{ entity.nombre }} </option>
			{% endfor %}
			</select></td>
		</tr>
	</table>

	<div class="form-actions">
        <input type="submit" value="Asignar" class="btn btn-primary" />
        <a class="btn" href="{{ path('empleado_index') }}">Cancelar</a>
    </div>
	
	</form>
{% endblock %}