{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('empleado_index') }}">Empleados</a></li>
<li class="active"><span class="divider">&gt;</span> Consultar</li>
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('confirm') %}
<div class="alert alert-success">
	{{ flashMessage }}
</div>
{% endfor %}
<ul class="nav nav-tabs">
	<li class="active"><a href="#tabInformacion" data-toggle="tab">Información básica</a></li>
	<li><a href="#tabUsuario" data-toggle="tab">Usuario</a></li>
</ul>
<ul id="tabContent" class="tab-content">
	<li id="tabInformacion" class="tab-pane fade in active">
		<table class="record_properties">
			<tbody>
				<tr>
					<th>Nombre</th>
					<td>{{ entity.nombres ~' '~ entity.apellidos }}</td>
				</tr>
				<tr>
					<th>Puesto</th>
					<td>
						{% if entity.puesto == 'director' %}
							Director
						{% elseif entity.puesto == 'subdirector' %}
							Subdirector
						{% elseif entity.puesto == 'encargado_reg_acad' %}
							Encargado de registro academico
						{% elseif entity.puesto == 'encargado_serv_soc' %}
							Encargado del servicio social
						{% elseif entity.puesto == 'encargado_prac_prof' %}
							Encargado de practica profesional
						{% elseif entity.puesto == 'secretaria_reg_acad' %}
							Secretaria de registro academico
						{% else %}
							Empleado
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Fotografia</th>
					<td><img src="data:image/jpg;base64,{{ entity.fotografia|default('iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAIAAAC2BqGFAAAAA3NCSVQICAjb4U/gAAAMP0lEQVR4nO2dWXMbxxGAu2cPLBYHcRAERYqHxFsOFcklqaLIlVRSlbgqD8lvyw/Je15SfknlcCVlJy5ZlmWRJkUSIogbe2CPmc4DLIaiJZkiiZmVjO9RYHFXHxu9Mz0zvfjHPz2FMaOHqb6BHwtj0ZIYi5bEWLQkxqIlMRYtibFoSYxFS2IsWhJj0ZIYi5bEWLQkxqIlMRYtibFoSYxFS0JXfQNnBBEBAAgAiBTfy7lIoujvpL6ACAYDPwx8BgJRpDIlQzeGzuHdUZ840YjMcfqcx5qmEUEch1mTX6tOTE1eMXSdMfz3F9s9l4iQExChmUpnMlmC/7tGAEqe+mSIRsRhXCL22oeby2UrZQ6CCAEm8pVsxtYYEy/cfXR3IwhDIUgIAUDPas1vntVe+hIwIzdRJiKABOlWLxqRua4TDfr5NBtE/Geb85VyQQgBw6RMQERciOOf50SGrsMLs2tLV6/PTx9/yhAPG+1/fPEsNzFpWWkiAclArWjkgvea+5srUwtXNzSNEREAxpwDvCkcT+ZlItA07eSnM9OVP1SKWzu1h1vPipMzpzK+KlQO7zjn3Dv63S8/WFqYQUQhaBi/F/y1QghEtro09/GDtVbzEDERQ1hVN4FEFDn1X9/f0HX9ZGa4LISgKBZxPEw7qDyulYjGKAp63dbtG7OMaSMaIRCRnbburJfT1PK7tX63rda1ghwdx3GW9UolvTJZEiOI5WMYw2sLs9cXQde0/z7a/vbItTO2KtmyRSNiGPg3lisz05U45qO+3PAPKYRYWpj2B7sdp8GsEmMKvseyL8k5x7g/VS5KsHwMERiGcffWatrEkX6H3oBU0YjY7zY/urOMKmKq0ey0fc0wDPmXBsmiuaBKnuWyGflTZAQIggCZGssgVzTGcTRZyAihYGZMAPl8Lg4cVVUQeaIJqNWol0sTSio+w9He7bWpbvtIyThPkmhE1m3s/+rOQrGQU1VaE0LMX61WC5rM5/AxkkRHcXR9Jj89VVKSN44RQsxNF8PAB+lBLUc0RmGYyVhcqWUAIALLSnEeyc8dckQT07Qo4srLaAgQRRFjCubDklKHYZiO54N609h3fN935T8nJIlmiN1+qLyEJoS4tjjz4OaVfk92jUnaqAN7Xqw8oAGAIQvCSDcsyTEtbxwdxsB5EhaWSNd1ElxyHpMmmgwz5bie8uxBBHbaiuNQ8n3Ii2jDNF1vkITsEcecofbDP3epSBJNBLpuDIJQ/kzhFIjYd1w9lXpfc/RwKB3LutxrQYR2zzN0U/KuD2mi8dT2DFUgYM8Nkb2fU3BARKfTWLk+p2qB48SdgB9wJn0PgrzrxVwYuuxH0PeJYh5xkv+kkJejs/niXq3OpH9nT4KIrXZXNzPyLy1t1EHZXP7x05qmYrXwGMawVm+bKfu9rXUAACJ0Bnqn5yics8Qx328MDNOUf2l5D0O33yvY8GT7QFX2YAx39+ue7/tuX/4fW1JlNgyjai6+d3vT9QY8FkrqpUQwWZr4/a8rWzsH23UnncnKPCogI6IR0ffd2SvlKI51XVNVlSaibCatadra8rzvdt/DWgcRmGbKcXxQXfmnF7yva4aUstL1Zk/p0O47ENF1B5omeyeNvBWWWmugvEYKAIjQcxzDtCSP7yQWlQy72e4qd42Ana5rpCzJh+bkTVjyE8XdfcUzQxhW7/oDjb2n9WgA0DTtoOEx5RGN2OmH8rdIS5wZAvkher7KTI2IfccTaLzHRSUgouxEae+grlQ0dHqOYabl75iS+g0yzdTu866mLk0jYrvr6kZK/vFxqaIZghPq7a6CUsMQRGx1/VMHQOUgVTQR5fKlzx5+qzGUXKgURIgYRVHf50xTUKqVvd2PaSzUCn/525ca8l/e35SzpYYxPKi1vt6uAWAqU1LSdkL635bINC1mTzmh4bi+nByCiK2OE2lFLVM1DAXFaFB0cpYYAjOsZkveRLHd8ywrddzFRj5qFpaIKJVK79e7EiaKiDAYhH6o+Di4shU8Tde6LvcHwaj/+wjY7TscDLVTUmWiEYBYutEcefZAhvvP25at4HDjSZSJJqJ0JrO91xh19SOOeaMzUHVg9hiVi/8aY10fRjr2QMRuzx1wxXkD1IomItPKb+0eju6RyBg++baWzas5RfrSnai9vGVZu3U3DKNRxDQi+n5Q78S6ijn3KZT3GyI0Mjt79VHsOmQMH2/tp3NF5eEMykUTUTaTe7zTCqNLDmpE9PzBtzU3ZaYu8/eeF+URDURk2sVH3+xd7qqHprFPP38yUaompPWdetEAZFnprZrXbHUvy7WuaVs7NSeyNRWFuleSiPsgEqVy9e+f7wRBcPFhtcZYs93996Pn+UIhCdl5SCJEAwAAZYtXPvnn10EYXiQMNY21u71PPv2mMn2VVJ8uOElyRAMipCem//zXr3b3zrkrgTHcqzU++XRrsjqftF7HCRINAAhQrMx+/rh2vmSNiLv7jcLkTKL67A5JlmgAAALLPP/8Ip3Sk5OXT5I40YIoZ59TFhHksxaPo0u/q4uTONE8jsoT9vmCkoimJksDX+XpjdeRLNGI6HvOuTuJEdFEPmNimMDkkSzRABiH3uQFWrZxQWuLZc9zkxbUSRGNiIDoet5M+UI7l4UQ1xZmKegEYZSQFt1D1N8KIgqifr836B0ulMWHm8sX3OwhBP3q/nrRdHvtwyAIEZnyIx2gtsc/IsYxd51uPhXfXpqqVhY0Xbv4lhoiSpnm3Z+uOJ63tXO4e9jRrLydtglI4SwG//inpwquiiwMQ8/tTOW1lcVqqZgHgEvvPYiIjOFgEGw/O9w+6KORtTMZVW9pkd+omwVB4Lvtq5PWzzYWshlbEI2ovSMRcU6maW6szC8tRLv7R092a6RnM9mcfN3yRA8VO92jpdnc6s0VyzKFkNHBY6hb17TlxZlrc9W92tGjrVqEdn6igEDSdMsQjcgGwcDpHK3OT6zd/sAwdCFIcscwAuBCAOL81en52Wqt3vzi6/2BSBeLJZCie7SiEdkgCJzO4fpicf3OTcaY4EJtU7ZhZ5Yr1fLs9GS90f7syx03tkqlCuJodY/sYYgYBoHbO1qdK2ysLiBiMprevQRD1DTWbHc//3KnFxj5QkljbES6RyAaMQwC32kuz+bXl+eZxhKo+CSIqGus3en/56vdrs8y+aKuXf7bYS5TNCIGQeg7zaWZ7NryvH4Zg2JpvNDde/hkv+mCnS0Y+mVWXC8nRyOyMAx8tz1XsW7cWjdNg6vOxW8LEUUxz+WyH93d6HT7D5/sNztkZSZMw7gU3ReNaESMothzWjMl88bKVTud5oInsHj2ViCiprFuz3n89OB5J05nCqZpXnDbwvkjevh8c/qtSg7u3VnM5zKci+/ekPeOQ0RxzLMZ+97t1V7fffz04Hm7nbILqVTq3LrPI3r4Srx+r5M1gp9vXp0sTXBBSt5QMFKGujN2+u5Pl/uu92T7+V6jk84Uzxfdby0akbluX+Puh6vVK9UyEMTvVC5+W4go5mSn07d/cn3F8R49Pai1Otl8SdffbmTyFqIRMYwir9dYXyguLawzTVPellEaw3m8bafv3lzu9d2HT/bqTVEoVQDP+g7ns4pGZK3WUTUHH/181bJSnIsfj+VjiIgTZbP2/Q/Xmu3uv77YIbNg25mzZJIzFv6xdbR/d718/866aZrv1rjt0hl2sy0V8x//YnOmIJrNo7PsQjmDaGTd5sHHD1Znpyuci2TumpCPEMQF3bpxbXUmVa8f/qDrH/gYkbXqe799sGZZqSQ0JU4aUcw3byzdmLcbjaM3L1G+6TNE1qzv/eb+Siplqn31UpKJoviDtWvLVyz3jUvvrxWNyI7q+w9uzWUz9tjym4lifnPjWsHwBoPX9td5tWhEdN3+B4uFqUppnDHOAhf83u0V7jdep+vVoqMoTqOztjz3Ix9gnB0iYMgefLjSa7+6l9ErRePAad67tTIeX7wVgiifz6zO5T3P+35LztOiEdHp936yPGlbqfFI7m0RXCwvzmDc//7+7NOihSCLeXMzlXFqPgcEYOj6ynzJ89xTQf2SaER03d7G9Wqidq29WwgSs9NliN1T//6SUCIwYFCdKv8I6xiXBRFYKbOcN+KX3+7zkuggDGYq2eSczXtHEQTVci4Mg5PZ4/9OETEKB9OT+fH05IIQUda2hHjpzbb/A34K7qkAUaRgAAAAAElFTkSuQmCC') }}" alt="Fotografia" class="profile_id img-polaroid" /></td>
				</tr>
				<tr>
					<th>DUI</th>
					<td>{{ entity.dui }}</td>
				</tr>
				<tr>
					<th>ISSS</th>
					<td>{{ entity.isss }}</td>
				</tr>
				<tr>
					<th>NIT</th>
					<td>{{ entity.nit }}</td>
				</tr>
				<tr>
					<th>NUP</th>
					<td>{{ entity.nup }}</td>
				</tr>
				<tr>
					<th>Sexo</th>
					<td>{% if entity.sexo == 'M' %}
							Masculino
						{% else %}
							Femenino
						{% endif %}</td>
				</tr>
			</tbody>
		</table>
		<div class="form-actions">
			<a href="{{ path('empleado_edit', { 'id': entity.dui }) }}" class="btn btn-info">Modificar</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="#confirmDelete" class="btn btn-danger" role="button" data-toggle="modal">Eliminar</a>
			{% endif %}
			<a href="{{ path('empleado_index') }}" class="btn">Regresar</a>
		</div>
	</li>
	<li id="tabUsuario" class="tab-pane fade">
		<p><strong>Nombre de usuario</strong> {{ entity.usuario.username }}</p>
		<a href="{{ path('update_password', {'username':entity.usuario.username}) }}" class="btn btn-info">Cambiar contraseña</a>
		{% if is_granted('ROLE_ADMIN') %}
			{% if entity.usuario.enabled %}
				<a href="#confirmDisabled" role="button" class="btn btn-danger" data-toggle="modal">Deshabilitar</a>
			{% else %}
			<button id="habilitarUsuario" class="btn btn-danger">Habilitar</button>
			{% endif %}
		{% endif %}
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ACADEMIC_ADMIN') %}
			<button id="bloquearUsuario" class="btn btn-danger">{% if entity.usuario.locked %}
				Desbloquear
			{% else %}
				Bloquear
			{% endif %}</button>
		{% endif %}
	</li>
</ul>
	<div class="modal hide fade" id="confirmDisabled" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="confirmTitle">Confirmar deshabilitar usuario</h3>
	  </div>
	  <div class="modal-body">
		<p><strong>Cuidado</strong> si deshabilita al usuario, él no podrá acceder más al sistema hasta que se vuelva a habilitar su usuario de nuevo</p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		<button id="deshabilitarUsuario" class="btn btn-primary">Confirmar</button>
	  </div>
	</div>
	<div id="confirmDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="confirmDeleteTitle">Confirmar eliminar empleado</h3>
	  </div>
	  <div class="modal-body">
		<p><strong>Cuidado</strong> si elimina al empleado, se eliminará ademas su usuario.<br />
		<em>Esta operación no se puede revertir</em></p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		<button id="eliminarEmpleado" class="btn btn-primary">Confirmar</button>
	  </div>
	</div>
{% endblock %}
