{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('empleado_index') }}">Empleados</a></li>
<li class="active"><span class="divider">&gt;</span> Consultar</li>
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('confirm') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#tabInformacion" data-toggle="tab">Información básica</a></li>
    <li><a href="#tabUsuario" data-toggle="tab">Usuario</a></li>
</ul>
<ul id="tabContent" class="tab-content">
    <li id="tabInformacion" class="tab-pane fade in active">
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombres ~' '~ entity.apellidos }}</td>
                </tr>
                <tr>
                    <th>Puesto</th>
                    <td>
                        {% if entity.puesto == 'director' %}
                            Director
                        {% elseif entity.puesto == 'subdirector' %}
                            Subdirector
                        {% elseif entity.puesto == 'encargado_reg_acad' %}
                            Encargado de registro academico
                        {% elseif entity.puesto == 'encargado_serv_soc' %}
                            Encargado del servicio social
                        {% elseif entity.puesto == 'encargado_prac_prof' %}
                            Encargado de practica profesional
                        {% elseif entity.puesto == 'secretaria_reg_acad' %}
                            Secretaria de registro academico
                        {% else %}
                            Empleado
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Fotografia</th>
                    <td><img src="data:image/jpg;base64,{{ entity.fotografia|default('iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAAXNSR0IArs4c6QAAAmdQTFRFExASEhETFBIUFhMWFxYYGhcZGhcaGRgaHBkbHRodHRseHhwfHx4hIR4gIh8hISAiIyAjIyElJSIkJyQnKCUnKicrKSgqKSgrLCgrLSksLCosLiwvMC4xMTAzNDAzMzI0NTE1NjI1NzM2NTQ2NzU3OTY4PDc7PTc8Ozk8Pjg9PTo8PTw+Pj0+Pj0/Pz0/QTs/QDw/Pz5AQT5AQD9AQj9BQj9DRT9DQUBCQ0BCREFDREFEREJERUJERUNERUJFRUNFRkJFRkNFR0JHRkNHR0VGR0RHR0RISEVISUZJSUdJSUZKSUdKSkdLSklKSklLS0pLTElMTUpMTEtMTUpNTEtNTUxOT0xOTk1PT01PUE5PUE9RU1FTVFFTVFJUVVNVV1VYWVdaWVhZWVhaW1lbW1pcXFlcXltdXVxeXlxeXl1fYF1fYV5gYmBhYWBiYmFjY2JkZWNlZ2VnaGRnaGVnaWVoaGZoaGdoaGdqaWhqamlqampra2ttbWtsbGtubm1ucG5vb2xwcW5wcXBydXV2eXh6e3p8fXx+fn1+gn+BgoGChIGDhoWHhoaHiIaIiYeJjImLjIuLjoyOj42PkY+RkZCRlpWWl5WWlpaXl5aXmJeYmZiZnJucpKSlpqWmqKeoqqmrr62vsK+wsrKys7Ozs7O0tLS0tbW1tra3t7e3t7a4uLi4ubm5u7u7vLu8vb29wL/AwMDAxMTExcTFx8fHycjJy8rLy8vLzMvMzs3Oz8/P0dDR0tHS0tLS1NTU2NjY3Nzc3d3d3t3e4eHh4+Pj6Ojo7+/v8PDw8/Lz8/Pz9PP09PT09/f3////xQEUXQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIFgw4ChJ6mfcAAAKnSURBVEjHxZbvSxphHMDd6XUi3WRTKms2YgvDF8c2VvfiGMIRu1fVi/bCzZ16hHLlWYNAlFGRK/qBY6wfL9rPJgVOyEXiJoiF1YR+/FF7nvO01HrOvdk+3+d5vt/n+/DhRHiO05z/JZr/JBS3Yp9yjQuH4Rtk6028OZJrSDjcMHf2dVk6bX2d+uGcqlCk8Da7SaPRYBhmemQzfFYTFnrZLh1W5lafOYEW9rpITIvJhhbTAmwsWnhtxXW4TqfDcS1IsOpJIIUpgiBwEATR1FQqyA2kMK0nDHo4CUOTASQDoZ9EChlDHWH0v2Qna5lGC4KRNF5AksbmdbQgmYwm0+0ycPMLKaQjplreIYWv980tNbxBCjl7e7vF0tbR0drSXsKCfsJ5Rx0f0YLnziWsVrB8Rwsf7l7CCseByn0I3atGVL1x3VV8KaoKfI+MvZSy6nd6jqLsdgoAlofUgbqQpBmafvCYonsZhhls5DXz6qnDwbKMw8Gxg98aENafM8zAADfgdDpo57q6sDn1kgW/hXlCUyw7NLapJpzMTjr7uX6WoRkHxw1PzpyghR3fzDCE47ghuZgd2bleKKwJoZjLKfMMBMQVC3nXClcKqag4937O/aIGN2iK0VSdsCWGY7Gwh3cBeCWU2gNP/PEqIR+Ori5I7jI8z7tB8JW9tLAaDecvhB+RlfkRz3V4wXT751ciu2UhMxsLeAVvNUJtI/A2mlGExaWRKxD8gpx8Ahg+H6iWFhVh2V+PKIpK4R+rNJcVITTaICFFGA2UkLM0Wqmr+nJWhKAEGAcDEJCCsAqCFcwg7AeD8BDOsjCOQKraVYSJErAHk1yMw/1E+azUU4Sz09/HR4X9fDaT3ttNJZPJxHY8vhXfTiSSqdTuXvpnNr9fODounp79k4+TPzGyOKi1a4jBAAAAAElFTkSuQmCC') }}" alt="Fotografia" class="profile_id img-polaroid" /></td>
                </tr>
                <tr>
                    <th>DUI</th>
                    <td>{{ entity.dui }}</td>
                </tr>
                <tr>
                    <th>ISSS</th>
                    <td>{{ entity.isss }}</td>
                </tr>
                <tr>
                    <th>NIT</th>
                    <td>{{ entity.nit }}</td>
                </tr>
                <tr>
                    <th>NUP</th>
                    <td>{{ entity.nup }}</td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>{% if entity.sexo == 'M' %}
                            Masculino
                        {% else %}
                            Femenino
                        {% endif %}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-actions">
          <a href="{{ path('empleado_edit', { 'id': entity.dui }) }}" class="btn btn-info">Modificar</a>
          <a href="{{ path('empleado_erase', { 'id': entity.dui }) }}" class="btn btn-danger">Eliminar</a>
          <a href="{{ path('empleado_index') }}" class="btn">Regresar</a>
        </div>
    </li>
    <li id="tabUsuario" class="tab-pane fade">
        <p><strong>Nombre de usuario</strong> {{ entity.usuario.username }}</p>
        <a href="{{ path('update_password', {'username':entity.usuario.username}) }}" class="btn btn-info">Cambiar contraseña</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Deshabilitar usuario</a>
        {% endif %}
    </li>
</ul>
    <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirmar deshabilitar usuario</h3>
      </div>
      <div class="modal-body">
        <p><strong>Cuidado</strong> si deshabilita el usuario del empleado, él no podra acceder más al sistema hasta que se vuelva a habilitar su usuario</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Cancelar</a>
        <a href="#" class="btn btn-primary">Confirmar</a>
      </div>
    </div>
{% endblock %}
