{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block aside %}
{{ include('RegistroAcademicoBundle:Default:aside_users.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container">
    <h1>{{ title }}</h1>
    	<form action="{{ path('check_change_user')}}" method="post" class="form-horizontal">
    		{{ form_row(form.password) }}
    		{{ form_row(form.enabled) }}
    		<div class="form-actions">
    			<input type="submit" value="Crear" class="btn btn-primary" />
	    	</div>
    	</form>
    	<div class="control-group error">
    		{{ form_errors(form) }}
    	</div>
    </div>
{% endblock %}