{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="#">Periodos</a></li>
<li class="active"><span class="divider">&gt;</span>Consultar</li>
{% endblock %}

{% block content %}
    <h1>Listado de Periodos</h1>

    <table class="table">
        <thead>
            <tr>
				{# <th>Id</th> #}
                <th>Numero del Periodo</th>
                <th>Año</th>
                <th>Estado del Periodo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
				{# <td>{{ entity.id }}</td> #}
			<td> <a href="{{ path('periodo_show', { 'id': entity.id }) }}"></a>
				{% if entity.numPeriodo==1 %}
				Primero
				{% elseif entity.numPeriodo==2 %}	
				Segundo
				{% elseif entity.numPeriodo==3 %}	
				Tercer
				{% elseif entity.numPeriodo==4 %}	
				Cuarto
				{% elseif entity.numPeriodo==5 %}	
				Quinto
				{% endif %}
				{#		{{ entity.numPeriodo }} #}

			</td>
                <td>{{ entity.anhoCorriente }}</td>
				<td>
					{% if entity.estaAbierto == 1 %}
					Abierto
					{% else %}
					Cerrado
					{% endif %}
					{# {{ entity.estaAbierto }} #}
				</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('periodo_edit', { 'id': entity.id }) }}">Cambiar Estado</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>

{% endfor %}

	{% endblock %}

