{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li class="active"><span class="divider">&gt;</span>Periodos</li>
{% endblock %}

{% block content %}
{% if entity is defined %}
    {% for anho in entity %}
        <table>
            <tr>
                <td>
                    <h2>Año escolar {{ anho.anho }}</h2>
                </td>
                <td>
                    &emsp;<div class="slideThree">    
                        <input type="checkbox" checked="{{ anho.encurso }}" id="start" name="start" />
                        <label class="control-label" for="start"></label>
                    </div>&emsp;
                </td>
                <td>
                    <h4 id="inicio">Fecha de inicio: {{ anho.inicio|date('d M Y') }}</h4>
                </td>
                <td>
                    <h4 id="fin"></h4>
                </td>
            </tr>
        </table>
    {% endfor %}
    {% if periodos is defined %}
	<table>
            <tr>
		{% set nextp="" %}
		{% set ffinultimp="" %}
		{% for periodos in periodos %}
			{% if (loop.last or (periodos.periodo % 5 == 0) and (periodos.periodo != 0)) %}
			{% set nextp=((periodos.periodo%5)+1) %}
			{% set ffinultimp=periodos.fin %}
                <td>
					<h4>Periodo escolar {% if ((periodos.periodo % 5)!=0 )%}
					{{ periodos.periodo % 5}}
					{% else %}
					 5 
					{% endif %} </h4> 
                </td>
                <td>&emsp;
					{% if periodos.EnCurso == 0 %}
	                <div class="slideThree">    
						<input type="checkbox" id="unperiodo" 
						checked="0" name="unperiodo" value="0" />
                        <label class="control-label" for="unperiodo"></label>
                    </div>&emsp;

					{% else %}
	                <div class="slideThree">    
						<input type="checkbox" id="unperiodo" 
						checked="1" name="unperiodo" value="1"/>
                        <label class="control-label" for="unperiodo"></label>
                    </div>&emsp;
					{% endif %}
                </td>
				<td><h4>Fecha inicio: {{ periodos.inicio|date('d M Y')}}</h4></td>
			{% endif %}
		{% endfor %}
            </tr>
			<tr id="finprow" style="visibility:hidden">
				<th></th>
				<th></th>
				<td><h4 id="pfin"> Fecha Finalización: {{ ffinultimp|date('d M Y')}}</h4></td>
			</tr>
			{% if nextp!=1 %}
			<tr id="sigp" style="visibility:hidden">
				<th><h4>Periodo Escolar {{ nextp}}</h4></th>
				<th>
					<div class="slideThree">    
						<input type="checkbox" id="sigper" 
						checked="1" name="sigper" value="1"/>
                        <label class="control-label" for="sigper"></label>
                    </div>&emsp;
				</th>
				<th> <h4 id="ini"> </h4></th>
			</tr>
			{% else %}

			{% endif %}
        </table>
	<h4>Periodos Registrados</h4>
	<table class="table">
		<tr>
			<th>Numero Periodo:</th>
			<th>Fecha Inicio:</th>
			<th>Fecha Finalización</th>
			<th>Estado:</th>
		</tr>
		{% for periodos in periodos %}
		<tr>
			<th><h4>{% if ((periodos.periodo % 5)!=0 )%}
					{{ periodos.periodo % 5}}
					{% else %}
					 5 
					{% endif %}
			</h4></th>
			<th><h4>{{ periodos.inicio|date('d M Y')}}</h4></th>
			{% if periodos.fin != NULL %}
			<th><h4>{{ periodos.fin|date('d M Y')}}</h4></th>	
			{% else %}
			<th><h4>No definida</h4></th>	
			{% endif %}
			{% if periodos.encurso == FALSE %}
			<th><h4>Cerrado  </h4></th>	
			{% else %}
			<th><h4>Abierto</h4></th>	
			{% endif %}
		</tr>
		{% endfor %}
	</table>
        
    {% else %}
        <div class="alert alert-info">
            <h4>No se ha iniciado periodos escolares</h4>
            Inicie un nuevo periodo escolar para poder continuar
        </div>
        <table>
            <tr>
                <td>
                    <h4>Periodo escolar 1<span id="periodo"></span></h4>
                </td>
                <td>&emsp;
                    <div class="slideThree">    
                        <input type="checkbox" id="nperiodo" name="nperiodo" />
                        <label class="control-label" for="nperiodo"></label>
                    </div>&emsp;
                </td>
				<td><h4 id="ini"></h4></td>
            </tr>
        </table>
    {% endif %}
{% else %}
    <div class="alert alert-info">
        <h4>No se ha iniciado el año escolar</h4>
        Inicie un nuevo año escolar para poder continuar
    </div>
    <table>
        <tr>
            <td>
                <h2>Año escolar <span id="current">{{ "now"|date('Y') }}</span></h2>
            </td>
            <td>&emsp;
                <div class="slideThree" id="checkAnho">    
                    <input type="checkbox" id="start" name="start" />
                    <label class="control-label" for="start"></label>
                </div>&emsp;
            </td>
            <td>
                <h2 id="inicio"></h2>
            </td>
        </tr>
    </table>
{% endif %}
<div id="confirmClose" class="modal hide fade" tabindex="-1" role="dialog" 
	aria-labelledby="confirmCloseTitle" aria-hidden="true">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" 
			aria-hidden="true">&times;</button>
        <h3 id="confirmCloseTitle">Confirmar cerrar periodo</h3>
    </div>
    <div class="modal-body">
        <p>¿Esta seguro de querer cerrar el periodo escolar seleccionado?</em></p>
        </div>
        <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true"
				>Cancelar</button>
        <button id="cerrarPeriodo" class="btn btn-primary">Confirmar</button>
    </div>
</div>
<div id="confirmCloseb" class="modal hide fade" tabindex="-1" role="dialog" 
	aria-labelledby="confirmCloseTitle" aria-hidden="true">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" 
			aria-hidden="true">&times;</button>
        <h3 id="confirmClosebTitle">Confirmar cerrar periodo</h3>
    </div>
    <div class="modal-body">
        <p>¿Esta seguro de querer cerrar el periodo escolar seleccionado?</em></p>
        </div>
        <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button id="cerrarPeriodob" class="btn btn-primary">Confirmar</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function() {
	if($('#unperiodo').val()==0)
	{
		//que se ponga como que esta cerrado
		$('#unperiodo').removeAttr("checked");
		//que se muestre la fecha de fin de periodo
		$('#finprow').css('visibility','visible');
		//que se ponga como cerrado el control del siguiente periodo
		$('#sigper').removeAttr("checked");
		$('#unperiodo').attr("disabled","disabled");
		//que se muestre el botón para abrir el siguiente periodo
		$('#sigp').css('visibility','visible');
	}

	function fin_p()
	{
			$.ajax({
                url: "{{ url('periodo_fin') }}",
                method: "POST",
                success: function(data) {
                    var respuesta = $.parseJSON(data);
					$('#pfin').css('visibility','visible');
					$('#pfin').text('Fecha Fin '+respuesta.fechfin);
					$('#sigp').css('visibility','visible');
					$('#sigper').css('visibility','visible');
					$('#sigper').removeAttr("checked");
		        }
            });
	}

    $('#cerrarPeriodob').click(function() {
		fin_p();
		$('#confirmCloseb').modal('hide');
		$('#unperiodo').attr("disabled","disabled");
	});
	
	$('#sigper').change(function() {
		if($('#sigper').is(":checked"))
		{
			$.ajax({
                url: "{{ url('periodo_start') }}",
                method: "POST",
                success: function(data) {
            var respuesta = $.parseJSON(data);
                    $('#ini').text('Iniciado en: ' + respuesta.fechainicio);
		        }
            });
			
		}

	});

	$('#nperiodo').change(function() {
		if($('#nperiodo').is(":checked"))
		{
			$.ajax({
                url: "{{ url('periodo_start') }}",
                method: "POST",
                success: function(data) {
                    var respuesta = $.parseJSON(data);
                    $('#ini').text('Fecha de inicio: ' + respuesta.fechainicio);
		        }
            });
			
		}

	});


	$('#unperiodo').change(function() {
        if($('#unperiodo').is(":checked")) {
            $.ajax({
                url: "{{ url('periodo_start') }}",
                method: "POST",
                success: function(data) {
					$('#unperiodo').attr("disabled","disabled");
		        }
            });
        } else {
            $('#confirmCloseb').modal();
        }
    });

    $('#start').change(function() {
        if($('#start').is(":checked")) {
            $.ajax({
                url: "{{ url('anho_start') }}",
                method: "POST",
                success: function(data) {
                    var respuesta = $.parseJSON(data);
                    $('#current').text(respuesta.current);
                    $('#inicio').text('Iniciado en: ' + respuesta.inicio);
                }
            });
        } else {
            $('#confirmClose').modal();
        }
    });
    $('#cerrarPeriodo').click(function() {
        $.ajax({
            url: "{{ url('anho_close') }}",
            method: "POST",
            data: { current: $('#current').val() },
            success: function(data) {
                var respuesta = $.parseJSON(data);
                $('#fin').text('Cerrado el ' + respuesta.fin);
				$('#confirmClose').modal('hide');
            }
        });
    });
});
</script>
{% endblock %}
