{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Modificar Especialidad</h1>

    <form action="{{ path('especialidad_update', { 'id': entity.codigo }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn ">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('especialidad_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('especialidad_delete', { 'id': entity.codigo }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn-warning">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
