{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/watable/watable.css') }}">
{% endblock %}

{% block content %}
    <h1>Lista de especialidades</h1>

    <table id="tabla" class="table table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('especialidad_index', { 'codigo': entity.codigo }) }}">{{ entity.codigo }}</a></td>
                
                <td>{{ entity.nombre }}</td>
                <td>
                
                   
                        <a class="btn btn-info" href="{{ path('especialidad_show', { 'id': entity.codigo }) }}">{{ '.icon-eye-open Consultar'|parse_icons('white') }}</a>
                   
                        <a class="btn btn-info" href="{{ path('especialidad_edit', { 'id': entity.codigo }) }}">{{ '.icon-edit Modificar'|parse_icons('white') }}</a>
               
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
       
            <a class="btn btn-primary" href="{{ path('especialidad_new') }}">
                {{ '.icon-plus-sign Ingresar un nueva especialidad'|parse_icons('white') }}
            </a>

                       {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}
                        </div>
                        {% endfor %}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/watable/jquery.watable.js') }}"></script>
{% endblock %}