{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block style %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/watable/watable.css') }}">
{% endblock %}

{% block content %}
    <h1>Lista de especialidades</h1>

    <table id="tabla" class="table table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('especialidad_index', { 'codigo': entity.codigo }) }}">{{ entity.codigo }}</a></td>
                
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('especialidad_show', { 'id': entity.codigo }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('especialidad_edit', { 'id': entity.codigo }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('especialidad_new') }}">
                Crear una nueva especialidad
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/watable/jquery.watable.js') }}"></script>
{% endblock %}