{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block content %}


<h1>Especialidad</h1>

 
        




<table class="record_properties">
    <tbody>
       
        <tr>
            <th>Codigo</th>
            <td>{{ entity.codigo }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        
    </tbody>
</table>

<div class="form-actions">
<form action="{{ path('especialidad_delete', { 'id': entity.codigo }) }}" method="post" class="form-acctions">
<table>
  <tr>
    <td><a href="{{ path('especialidad_edit', { 'id': entity.codigo }) }}" class="btn btn-primary">Editar</a></td>
    
     <td> <a href="{{ path('especialidad_index') }}" class="btn btn-info">Regresar a la lista</a></td>
 
    <input type="hidden" name="_method" value="DELETE" /> 
    {{ form_widget(delete_form) }}
    <td> <button type="submit"  class="btn btn-danger">Borrar</button></td> 
	</tr>
    </table>
</form>
</div>

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
{% endblock %}
