{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('materia') }}">Materias</a></li>
<li class="active"><span class="divider">&gt;</span> Modificar</li>
{% endblock %}

{% block content %}
<form action="{{ path('materia_update', { 'id': entity.id }) }}" method="POST" class="form-horizontal">
    <input type="hidden" name="_method" value="PUT" />
	{{ form_widget(edit_form, {'form_type': 'horizontal'}) }}
    <div class="form-actions">
        <input type="submit" value="Modificar" class="btn btn-primary" />
        <a class="btn" href="{{ path('materia') }}">Cancelar</a>
        <a href="{{ path('materia_delete', {'id':entity.id}) }}" class="btn btn-danger">Eliminar</a>
    </div>
</form>
{% endblock %}
