{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li><span class="divider">&gt;</span><a href="{{ path('index') }}">Inicio</a></li>
<li><span class="divider">&gt;</span><a href="{{ path('materia') }}">Materias</a></li>
<li class="active"><span class="divider">&gt;</span> Consultar</li>
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('confirm') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>

{% endfor %}

        <table class="record_properties table">
            <tbody>
                <tr>
                    <th>Identificador de la Materia:</th>
                    <td>{{ entity.id }}</td>
				</tr>
				<tr>
                    <th>Codigo de la materia en SIRAI:</th>
                    <td>{{ entity.codigo }}</td>
				</tr>
				<tr>
                    <th>Nombre de la Materia:</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Profesor Encargado de la Materia</th>
                    <td>{{ entity.profesor }}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-actions">
          <a href="{{ path('materia_edit', { 'id': entity.id}) }}" class="btn btn-info">Modificar</a>
          <a href="{{ path('materia_delete', { 'id': entity.id }) }}" class="btn btn-danger">Eliminar</a>
          <a href="{{ path('materia') }}" class="btn">Regresar</a>
        </div>

{% endblock %}
{% block javascript %}
{{ parent() }}
{% endblock %}
